
h1{
	text-align:center;
	background-color:#FFAC55;width:500px;height:50px;
　  background-color:#FFAFFE;width:300px;height:20px;
    margin:0 auto;
    font-family: fantasy;

}
p{
	border: 1px solid black;
	border-style: hidden;
	background-color:lightblue ;
	margin-top: 60px;
	margin-bottom: 40px;
	margin-right: auto;
	margin-left: auto;
	padding: 30px 50px 30px 50px;
	font-size: 200%;
    text-align: center;
    font-family: sans-serif;
}
div{
	color: #004937;
	text-decoration: underline;
}
.A{
	position: absolute;
	top: 50pt;
	left: 50pt;
}
.B{
	position: absolute;
	top: 110pt;
	left: 50pt;
}
.C{
    position: absolute;
	top: 270pt;
	left: 50pt;
    }
.D{
    position: absolute;
	top: 500pt;
	left: 490.8pt;
    }
.E{
    position: absolute;
	top: 270pt;
	left: 490.8pt;
    }
